.head a {
  padding: 0;
}
.head .navbar .row .col-md-9 {
  padding-right: 0;
}
@media (max-width: 992px) {
  .head .navbar .row .col-lg-1 {
    padding-right: 0;
  }
  .head .navbar .row .col-sm-2 {
    padding-right: 0;
  }
  .head .navbar .row .col-md-2 {
    padding-right: 0;
  }
}
.head .navbar .navbar-collapse {
  margin-top: 2.1%;
  border: 0;
}
@media screen and (min-width: 1200px) {
  .head .navbar .navbar-collapse {
    margin-top: 1.1%;
  }
}
.head .navbar .collapse {
  margin-left: 4.63%;
}
@media (min-width: 768px) {
  .head .navbar .collapse .navbar-nav {
    float: none;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .head .navbar .collapse .navbar-nav {
    float: none;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .head .navbar .collapse .navbar-nav {
    float: none;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .head .navbar .collapse .navbar-nav .col-lg-1 {
    padding: 0;
  }
}
.head .navbar .collapse .navbar-nav .indexBox {
  margin-left: 0;
}
@media screen and (min-width: 1200px) {
  .head .navbar .collapse .navbar-nav .languageBox {
    margin-left: 20%;
  }
}
@media screen and (min-width: 1000px) {
  .head .navbar .collapse .navbar-nav li {
    margin-left: 1.4748%;
  }
}
.head .navbar .collapse .navbar-nav li a:hover {
  color: #B92222;
}
.head .navbar .collapse .navbar-nav > li > .dropdown-menu {
  border: 0;
  border-radius: 10px;
  margin-top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0;
  margin-top: 22%;
}
@media screen and (max-width: 768px) {
  .head .navbar .collapse .navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    margin-left: -5%;
  }
}
.head .navbar .collapse .navbar-nav > li > .dropdown-menu li {
  margin-left: 0;
  border-radius: 10px;
}
.head .navbar .collapse .navbar-nav > li > .dropdown-menu li a {
  padding: 10px 40px;
  font-size: 20px;
  font-family: "Microsoft YaHei" ! important;
  color: #F08440;
}
.head .navbar .collapse .navbar-nav > li > .dropdown-menu li:hover {
  color: #B92222;
}
.navBox {
  background: linear-gradient(to right, #f3a062 0%, #faca39 100%);
  border: 0;
  font-family: "Microsoft YaHei" ! important;
  font-weight: bold;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .navBox {
    width: 100%;
    height: 63px;
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .navBox {
    font-size: 20px;
  }
}
.newNav {
  font-size: 15px;
  border: 0;
  background-color: #ffffff;
  font-family: "Microsoft YaHei" ! important;
  font-weight: bold;
  box-shadow: 0 0 6px 4px #DED7CD;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .newNav {
    width: 100%;
    height: 63px;
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .newNav {
    font-size: 20px;
  }
}
.colorWhite {
  color: #ffffff;
}
.colorBlack {
  color: #141414;
}
.colorYellow {
  color: #F18A1C;
}
.indexText {
  color: #B92222;
}
.disNone {
  display: none;
}
.disIner {
  display: initial;
}
#chinese {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#english {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (min-width: 1200px) {
  .logoImgBox {
    width: 8.33333333%;
  }
}
.logoImgBox {
  margin-top: 0.5%;
  padding: 0;
}
@media screen and (min-width: 1000px) {
  .logoImgBox {
    margin-left: 16.979166666%;
  }
}
#indexNavBox .navbar-nav > .open a:focus {
  color: #B73938;
}
#downloadNavBox {
  background: white;
  box-shadow: 0 0 6px 4px #DED7CD;
}
#downloadNavBox .navbar-nav > .open a:focus {
  color: #f18a1c;
}
#downloadHover li a:hover {
  color: #F18A1C;
}
.foot {
  font-size: 16px;
  font-family: "Microsoft YaHei" ! important;
  background-color: #F0A53F;
  width: 100%;
}
.foot .footContentBox {
  padding-top: 2%;
  margin: 0 auto;
  width: 70.3%;
  color: white;
}
@media screen and (min-width: 1200px) {
  .foot .footContentBox {
    width: 52.3%;
    display: flex;
    padding-top: 35px;
  }
}
.foot .footContentBox ul li a {
  font-family: "Microsoft YaHei" ! important;
  color: white;
  text-decoration: none;
}
.foot .footContentBox ul:first-child {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .foot .footContentBox ul:first-child {
    width: 31.952%;
  }
}
.foot .footContentBox ul:first-child li:first-child {
  font-family: "Microsoft YaHei" ! important;
}
.foot .footContentBox ul:first-child li:first-child a {
  font-size: 20px;
}
.foot .footContentBox ul:nth-child(2) {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .foot .footContentBox ul:nth-child(2) {
    width: 29.14%;
    margin-left: 5.4%;
  }
}
.foot .footContentBox ul:nth-child(2) li:first-child a {
  font-size: 20px;
}
.foot .footContentBox .bottomImgBox {
  width: 100%;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .foot .footContentBox .bottomImgBox {
    margin-left: 8.13%;
    width: 25.357%;
    margin-top: 1px;
  }
}
.foot .footContentBox .bottomImgBox li span {
  display: inline-block;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .foot .footContentBox .bottomImgBox li span {
    font-size: 16px;
  }
}
@media screen and (min-width: 1700px) {
  .foot .footContentBox .bottomImgBox li span {
    font-size: 16px;
  }
}
.foot .footContentBox .bottomImgBox li img {
  width: 82.47%;
  background-color: white;
}
@media screen and (min-width: 1200px) {
  .foot .footContentBox .bottomImgBox li:last-child {
    margin-left: 3.3%;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .foot .footContentBox .bottomImgBox {
    width: 25.357%;
    display: flex;
  }
  .foot .footContentBox .bottomImgBox li {
    width: 50%;
  }
  .foot .footContentBox .bottomImgBox li span {
    display: inline-block;
    font-size: 16px;
  }
  .foot .footContentBox .bottomImgBox li img {
    width: 81.47%;
    background-color: white;
  }
}
@media screen and (-ms-high-contrast: active) and screen and (min-width: 1200px), (-ms-high-contrast: none) and screen and (min-width: 1200px) {
  .foot .footContentBox .bottomImgBox {
    margin-left: 8.13%;
    width: 25.357%;
    margin-top: 1px;
  }
}
@media screen and (-ms-high-contrast: active) and screen and (max-width: 768px), (-ms-high-contrast: none) and screen and (max-width: 768px) {
  .foot .footContentBox .bottomImgBox li span {
    font-size: 16px;
  }
}
@media screen and (-ms-high-contrast: active) and screen and (min-width: 1700px), (-ms-high-contrast: none) and screen and (min-width: 1700px) {
  .foot .footContentBox .bottomImgBox li span {
    font-size: 16px;
  }
}
@media screen and (-ms-high-contrast: active) and screen and (min-width: 1200px), (-ms-high-contrast: none) and screen and (min-width: 1200px) {
  .foot .footContentBox .bottomImgBox li:last-child {
    margin-left: 3.3%;
  }
}
.foot p:last-child {
  color: #ffff;
  padding-bottom: 23px;
  margin: 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .foot p:last-child {
    margin: 0;
    text-align: left;
    margin-left: 42.2%;
    margin-top: 18px;
  }
}
.line1 {
  width: 91.195%;
  border-bottom: 2px solid white;
  margin: 9px 0 8px 0;
}
.line2 {
  width: 100%;
  border-bottom: 2px solid white;
  margin: 9px 0 14px 0;
}
body .topButton {
  position: fixed;
  right: 0.6%;
  top: 55%;
}
body .topButton li {
  cursor: pointer;
  width: 50px;
  height: 50px;
}
body .topButton li img {
  padding: 21% 0 0 10px;
}
body .topButton li:first-child {
  background-color: #F0A53F;
}
body .topButton li:last-child {
  background-color: #F5C583;
}
.opinionBigBox {
  display: none;
  border-radius: 20px;
  z-index: 101;
  background-color: #ffffff;
  width: 42.04%;
  position: fixed;
  top: 29.8%;
  right: 3.2%;
}
.opinionBigBox .opinionBox {
  width: 100%;
  box-shadow: #888 0 0 18px;
  border-radius: 20px;
  position: fixed;
  position: relative;
}
.opinionBigBox .opinionBox .xBox {
  position: absolute;
  right: 2%;
  top: 3%;
  cursor: pointer;
}
.opinionBigBox .opinionBox .xBox img {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 1200px) {
  .opinionBigBox .opinionBox .xBox img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .opinionBigBox .opinionBox .xBox {
    position: absolute;
    right: 15px;
    top: 15px;
  }
}
.opinionBigBox .opinionBox form {
  font-family: "Microsoft YaHei" ! important;
  width: 81.25%;
  height: 100%;
  margin: 0 auto;
  padding-top: 5%;
}
.opinionBigBox .opinionBox form .poinionText {
  font-weight: 500;
  padding-bottom: 3%;
}
@media screen and (min-width: 1200px) {
  .opinionBigBox .opinionBox form .poinionText {
    font-size: 30px;
  }
}
.opinionBigBox .opinionBox form .form-control {
  color: #848484;
  border-radius: 10px;
  background-color: #F0F0F0;
  padding: 0% 0 0% 0%;
}
@media screen and (min-width: 1200px) {
  .opinionBigBox .opinionBox form .form-control {
    font-size: 20px;
  }
}
.opinionBigBox .opinionBox form .email {
  padding: 3.7% 0 3.7% 3%;
  font-weight: 500;
}
@media screen and (min-width: 1200px) {
  .opinionBigBox .opinionBox form .emailIe {
    height: 50px;
    padding-left: 3%;
  }
}
.opinionBigBox .opinionBox form .form-group {
  margin-bottom: 20px;
}
.opinionBigBox .opinionBox form .enclosureBigBox {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 5%;
}
@media screen and (min-width: 1200px) {
  .opinionBigBox .opinionBox form .enclosureBigBox {
    display: flex;
    justify-content: space-between;
  }
}
.opinionBigBox .opinionBox form .enclosureBigBox .btnA {
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  cursor: auto;
}
.opinionBigBox .opinionBox form .btn-success {
  color: #fff;
  background-color: #FDEDD3;
  border-color: #FDEDD3;
  display: flex;
  border-radius: 8px;
  outline: inline;
}
@media screen and (min-width: 1200px) {
  .opinionBigBox .opinionBox form .btn-success {
    font-size: 20px;
  }
}
.opinionBigBox .opinionBox form .btn-success .enclosureBoxImg {
  display: block;
  padding-left: 3%;
}
.opinionBigBox .opinionBox form .btn-success .window {
  display: block;
  width: 90%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 1200px) {
  .opinionBigBox .opinionBox form .btn-success .window {
    font-size: 14px;
    padding-top: 1.25%;
    padding-left: 1%;
  }
}
.opinionBigBox .opinionBox form .upSubmit {
  width: 100%;
  border-radius: 8px;
  color: #000000;
  padding: 6px 12px;
  outline: none;
}
@media screen and (min-width: 1200px) {
  .opinionBigBox .opinionBox form .upSubmit {
    width: 77.4%;
  }
}
.opinionBigBox .opinionBox form .enclosureBox {
  width: 100%;
  position: relative;
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .opinionBigBox .opinionBox form .enclosureBox {
    width: 21.24%;
  }
}
.opinionBigBox .opinionBox form .enclosureBox span {
  color: #000000;
  display: inline-block;
}
.opinionBigBox .opinionBox form .enclosureBox input {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
}
.opinionBigBox .opinionBox form .enclosureBox a {
  text-decoration: none;
}
.opinionBigBox .opinionBox form .textarea {
  padding: 1.5% 0 16.04% 3%;
  font-weight: 500;
}
.opinionBigBox .opinionBox form .submit {
  width: 100%;
  font-family: "Microsoft YaHei" ! important;
  border-radius: 5px;
  background-color: #FF9F1C;
  border: 1px solid #FFE200;
  color: #ffffff;
  margin-bottom: 10%;
  padding: 1.85% 0 1.85% 0;
}
@media screen and (min-width: 1200px) {
  .opinionBigBox .opinionBox form .submit {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  #marLeft {
    margin-left: -48%;
  }
}
#marLeft {
  margin-left: 0;
}
* {
  margin: 0;
  padding: 0;
}
body {
  overflow: auto !important;
}
.modal {
  overflow: auto !important;
}
li {
  list-style: none;
}
.textDescription {
  width: 100%;
  height: 16.8%;
  background: linear-gradient(to right, #f28a3b 0%, #f9bd07 100%);
  position: relative;
}
.textDescription .textDescriptionContentBox {
  display: flex;
  width: 76.524479%;
  height: 68.3%;
  padding-top: 18%;
  padding-top: 8.54%;
  margin-left: 14.68%;
  padding-bottom: 7.7%;
}
.textDescription .textDescriptionContentBox ul {
  width: 58.8%;
  height: 86.6%;
}
@media screen and (max-width: 1200px) {
  .textDescription .textDescriptionContentBox ul {
    padding-top: 10%;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .textDescription .textDescriptionContentBox ul .chinaTextBox {
    width: 100%;
    height: 37.5%;
    margin-bottom: 4%;
  }
}
.textDescription .textDescriptionContentBox ul .chinaTextBox {
  width: 100%;
  height: 37.5%;
  margin-bottom: 4.2%;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .textDescription .textDescriptionContentBox ul li:nth-child(2) {
    width: 100%;
    height: 20.1%;
    padding: 0 0 0% 10%;
    color: white;
  }
}
@media screen and (-ms-high-contrast: active) and screen and (min-width: 1200px), (-ms-high-contrast: none) and screen and (min-width: 1200px) {
  .textDescription .textDescriptionContentBox ul li:nth-child(2) {
    font-size: 20px;
  }
}
.textDescription .textDescriptionContentBox ul li:nth-child(2) {
  width: 100%;
  height: 20.1%;
  padding: 0 0 5.5% 10%;
  color: white;
}
@media screen and (min-width: 1200px) {
  .textDescription .textDescriptionContentBox ul li:nth-child(2) {
    font-size: 20px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .textDescription .textDescriptionContentBox ul li:nth-child(2) {
    width: 100%;
    height: 20.1%;
    padding: 0 0 0% 10%;
    color: white;
  }
}
@media screen and (-ms-high-contrast: active) and screen and (min-width: 1200px), (-ms-high-contrast: none) and screen and (min-width: 1200px) {
  .textDescription .textDescriptionContentBox ul li:nth-child(2) {
    font-size: 20px;
  }
}
.textDescription .textDescriptionContentBox ul .marLeft {
  box-shadow: 0 0 5px 0px #D08126;
  width: 45.2%;
  height: 20.17%;
  text-align: center;
  background-color: #FFE10B;
  border: 2px solid #FFE200;
  font-weight: 500;
  margin: 0 0 0% 10%;
  padding: 1.53%;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .textDescription .textDescriptionContentBox ul .marLeft {
    width: 36.2%;
    font-size: 24px;
  }
}
.textDescription .textDescriptionContentBox ul .marLeft a {
  color: #FF4E00;
  text-decoration: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .textDescription .textDescriptionContentBox ul .marLeft {
    box-shadow: 0 0 5px 0px #D08126;
    text-align: center;
    background-color: #FFE10B;
    border: 2px solid #FFE200;
    width: 36.2%;
    height: 15.6%;
    font-size: 24px;
    font-weight: 500;
    margin: 6.5% 0 0% 10%;
    cursor: pointer;
  }
  .textDescription .textDescriptionContentBox ul .marLeft a {
    color: #FF4E00;
    text-decoration: none;
  }
}
.textDescription .textDescriptionContentBox ul li:last-child:hover {
  border: 2px solid #FFE10B;
  background-color: #fff;
}
.textDescription .textDescriptionContentBox div {
  padding-top: 10%;
  margin-left: 2.2%;
  width: 39%;
  height: 100%;
}
@media screen and (min-width: 1200px) {
  .textDescription .textDescriptionContentBox div {
    padding-top: 0;
    margin-top: -2%;
  }
}
.textDescription .videoBox {
  width: 52.6%;
  position: absolute;
  left: 23.6%;
  height: 50%;
  top: 93%;
  padding: 0;
  z-index: 98;
}
@media screen and (min-width: 1200px) {
  .textDescription .videoBox {
    left: 23.6%;
    top: 83%;
    height: 75%;
  }
}
@media screen and (max-width: 630px) {
  .textDescription .videoBox {
    height: 42%;
  }
}
@media screen and (max-width: 405px) {
  .textDescription .videoBox {
    height: 33%;
  }
}
.textDescription .videoBox .videoBoxo {
  width: 100%;
  height: 100%;
  position: relative;
}
.textDescription .videoBox .videoBoxo #video {
  border-radius: 7px;
  box-shadow: #888 0 0 18px;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  margin: 0;
}
.textDescription .videoBox .videoImg {
  width: 15.58%;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.board {
  margin: 0 auto;
  margin-top: 29%;
  width: 70%;
  justify-content: space-between;
  font-family: "Microsoft YaHei" ! important;
}
@media screen and (min-width: 1200px) {
  .board {
    display: flex;
    width: 52.5%;
    margin-left: 24.2%;
  }
}
.board div:first-child {
  height: 100%;
  width: 100%;
  box-shadow: #888 0 0 18px;
}
@media screen and (min-width: 1200px) {
  .board div:first-child {
    width: 40.039%;
  }
}
.board .boardTextBox {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .board .boardTextBox {
    width: 49.993%;
  }
}
.board .boardTextBox li:first-child {
  margin-top: 3%;
  font-size: 24px;
  color: #F2893D;
  font-weight: 300;
}
@media screen and (min-width: 1200px) {
  .board .boardTextBox li:first-child {
    font-size: 56px;
  }
}
.board .boardTextBox li:nth-child(2) {
  font-weight: bold;
}
@media screen and (min-width: 1200px) {
  .board .boardTextBox li:nth-child(2) {
    font-size: 26px;
    margin-bottom: 20px;
  }
}
.board .boardTextBox li:nth-child(3) {
  font-weight: 300;
}
@media screen and (min-width: 1200px) {
  .board .boardTextBox li:nth-child(3) {
    font-size: 18px;
  }
}
.boardTwoBox {
  width: 100%;
  background-color: #FEF9F2;
  margin-top: 5.3%;
}
.boardTwoBox .boardTwo {
  width: 70%;
  margin: 0 auto;
  padding-top: 2.3%;
  padding-bottom: 2.7%;
  font-family: "Microsoft YaHei" ! important;
}
@media screen and (min-width: 1200px) {
  .boardTwoBox .boardTwo {
    display: flex;
    width: 55.171111%;
    height: 73.6%;
    margin-left: 23.8979%;
  }
}
.boardTwoBox .boardTwo div {
  height: 100%;
  width: 100%;
  margin-top: 6.1%;
}
@media screen and (min-width: 1200px) {
  .boardTwoBox .boardTwo div {
    height: 92%;
    width: 46.23%;
    margin-left: 6%;
  }
}
.boardTwoBox .boardTwo .boardTextBox {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .boardTwoBox .boardTwo .boardTextBox {
    width: 48.16%;
    height: 79%;
  }
}
.boardTwoBox .boardTwo .boardTextBox li:first-child {
  font-size: 24px;
  color: #F2893D;
  font-weight: 300;
}
@media screen and (min-width: 1200px) {
  .boardTwoBox .boardTwo .boardTextBox li:first-child {
    font-size: 56px;
  }
}
.boardTwoBox .boardTwo .boardTextBox li:nth-child(2) {
  font-weight: bold;
}
@media screen and (min-width: 1200px) {
  .boardTwoBox .boardTwo .boardTextBox li:nth-child(2) {
    font-size: 26px;
    margin-top: -1.5%;
  }
}
.boardTwoBox .boardTwo .boardTextBox li:nth-child(3) {
  padding-top: 4%;
  font-weight: 300;
}
@media screen and (min-width: 1200px) {
  .boardTwoBox .boardTwo .boardTextBox li:nth-child(3) {
    font-size: 18px;
  }
}
.boardThree {
  width: 70%;
  margin: 0 auto;
  margin-top: 4.3%;
  font-family: "Microsoft YaHei" ! important;
}
@media screen and (min-width: 1200px) {
  .boardThree {
    display: flex;
    width: 54.45%;
    margin-left: 21.65%;
  }
}
.boardThree div:first-child {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .boardThree div:first-child {
    height: 92%;
    width: 46.23%;
    margin-top: -1.4%;
  }
}
.boardThree .boardTextBox {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .boardThree .boardTextBox {
    width: 48.16%;
    height: 79%;
    margin-left: 5.5589%;
  }
}
.boardThree .boardTextBox li:first-child {
  font-size: 24px;
  color: #F2893D;
  font-weight: 300;
}
@media screen and (min-width: 1200px) {
  .boardThree .boardTextBox li:first-child {
    font-size: 56px;
  }
}
.boardThree .boardTextBox li:nth-child(2) {
  font-weight: bold;
}
@media screen and (min-width: 1200px) {
  .boardThree .boardTextBox li:nth-child(2) {
    font-size: 26px;
    margin-top: -1.5%;
  }
}
.boardThree .boardTextBox li:nth-child(3) {
  font-weight: 300;
}
@media screen and (min-width: 1200px) {
  .boardThree .boardTextBox li:nth-child(3) {
    padding-top: 4%;
    font-size: 18px;
  }
}
.boardFourBox {
  width: 100%;
  background-color: #FEF9F2;
}
.boardFourBox .boardTwo {
  width: 70%;
  margin: 0 auto;
  padding-top: 1.65%;
  padding-bottom: 4.2%;
  font-family: "Microsoft YaHei" ! important;
}
@media screen and (min-width: 1200px) {
  .boardFourBox .boardTwo {
    display: flex;
    margin-left: 23.8%;
    width: 54.45%;
    height: 73.6%;
  }
}
.boardFourBox .boardTwo div {
  width: 100%;
  margin-top: 5.28%;
  box-shadow: #888 0 0 18px;
}
@media screen and (min-width: 1200px) {
  .boardFourBox .boardTwo div {
    margin-left: 10.2%;
    height: 82.6%;
    width: 38.605%;
  }
}
.boardFourBox .boardTwo .boardTextBox {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .boardFourBox .boardTwo .boardTextBox {
    width: 48.2%;
    height: 79%;
  }
}
.boardFourBox .boardTwo .boardTextBox li:first-child {
  font-size: 24px;
  color: #F2893D;
  font-weight: 300;
}
@media screen and (min-width: 1200px) {
  .boardFourBox .boardTwo .boardTextBox li:first-child {
    font-size: 56px;
  }
}
.boardFourBox .boardTwo .boardTextBox li:nth-child(2) {
  font-weight: bold;
}
@media screen and (min-width: 1200px) {
  .boardFourBox .boardTwo .boardTextBox li:nth-child(2) {
    font-size: 26px;
    margin-top: -1.5%;
  }
}
.boardFourBox .boardTwo .boardTextBox li:nth-child(3) {
  font-weight: 300;
}
@media screen and (min-width: 1200px) {
  .boardFourBox .boardTwo .boardTextBox li:nth-child(3) {
    padding-top: 4%;
    font-size: 18px;
  }
}
.boardYelloBox {
  background-image: url("../../image/backimg.png");
}
#newDownloadBox a .none {
  display: inherit;
}
@media screen and (max-width: 550px) {
  #newDownloadBox a .none {
    display: none;
  }
}
#newDownloadBox a span {
  padding-left: 4.8%;
}
@media screen and (max-width: 550px) {
  #newDownloadBox a span {
    padding-left: 0;
  }
}
#videoIe {
  border-radius: 7px;
  box-shadow: #888 0 0 18px;
  padding: 0;
  width: 100%;
  height: auto;
  object-fit: fill;
  margin: 0;
  background: #ffff;
}
